main {
  justify-content: center;
  /* background: #83746e; */
}

.container {
  /* padding: 10px; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-section {
  /* background-color: blue; */
  padding: 0 15dvh;
}

.section {
  display: flex;
  justify-content: space-evenly;  
  align-content: flex-start;
  flex: 1;
  padding: 0 20dvh;
  /* background-color: red; */
}

.section > div{
  border-radius: 5px;
  padding: 20px;
  flex: 1;
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about-img {
  width: 250px;
  height: 200PX;
  border-radius: 5px;
  /* border: 1px solid #83746e; */
  box-shadow: 0 0 5px 0 #83746e;
}

.about-img-portrait {
  width: 150px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 #83746e;
}

a {
  text-decoration: none;
  color:#1f232c
}

h3 {
  text-transform: uppercase;
  margin: 25x 0;
}

p {
  text-align: justify;
}

.main-header {
  font-size: x-large;
  color: black;
}

.diagram_text {
  font-size: small;
  text-align: center;
}