main {
  display: grid;
  grid-template-columns: 1fr 740px 1fr;
}

/* ensure that the content starts at the second column line */
main > * {
  grid-column: 2;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h3 {
  color: #83746E;
}

h2 {
  margin: 0;
}

p {
  margin-top: 5px;
  line-height: 1.5;
}

section {
  margin: 1.75em 0 1.75em 0;
}

.box-section {
  padding: 2vh;
  margin: 2.5em 0 2.5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #e9e3e2;
  font-size: 0.8em;
  gap: 20px
}

.column-wrapper {
  text-align: justify;
}

.column-wrapper h4 {
  text-align: center;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px 0 #83746E;
}