main {
  display: flex;
}

/* Column left */
.column-wrapper {
  text-align: center;
}

/* Column right */
.column-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  margin: 0 auto;
}

.image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/heroImage_640x959.jpg');
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

/* Drag n drop*/
.form-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0eafc;
  max-width: 650px;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 24px 0 lightgrey
}

h1 {
  font-size: 3em;
}

h3 {
  color: #83746E;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2em;
}

.drag-area {
  height: 400px;
  width: 100%;
  border: 3px dashed lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.drag-area .icon {
  font-size: 55px;
}

.drag-area .header {
  /* font-size: 20px; */
  font-weight: 500;
} 

.drag-area .support {
  font-size: 12px;
  margin: 10px 0 15px 0;
}

.drag-area .button {
  font-size: 20px;
  font-weight: 500;
  color: #1683ff;
  cursor: pointer;
}

.drag-area.active {
  border: 2px solid #1683ff;
}

.drag-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* loading animation*/
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); 
}

/* Artist prompt */
.user-prompt {
  /* padding: 30px; */
}

.user-prompt > input {
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.user-prompt > label {
  /* font-size: 1.2em; */
  margin-left: 10px;
}

/* AI button */
.button-box-container {
  display: flex;
}

.box-button {
  margin-top: 1em;
  margin-right: 1em;;
  padding: 10px 20px;
  border-radius: 10px;
  background: #1F232C;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.box-button:disabled {
  background: lightgrey;
  color: grey;
  cursor: not-allowed;
}

#reset-button {
  display: none;
}