* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Nav bar */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  background-color: #1F232C;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.top-nav li {
  padding: 15px;
}

.top-nav a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.top-nav li.active {
  background-color: #83746E;
}

.top-nav li:hover:not(.active) {
  background-color: #DFD6D1;
}

/* main */
main {
  display: flex;
  flex: 1;
} 

/* footer */
footer {
  background-color: #1F232C;
  color: black;
  font-size: x-small;
  text-align: end;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: auto;
}

footer > p {
  margin: 0;
  padding: 10px;
}