body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Nav bar */
.top-nav {
  background-color: #1F232C;
}

.top-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.top-nav li {
  padding: 15px;
}

.top-nav a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.top-nav li.active {
  background-color: #83746E;
}

.top-nav li:hover:not(.active) {
  background-color: #DFD6D1;
}

/* footer */
footer {
  background-color: #1F232C;
  color: black;
  font-size: x-small;
  text-align: end;
}

footer > p {
  color: white;
  margin: 0;
  padding: 10px;
}